/* ================================================================
                         Navigation Bar
  ================================================================= */
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  html, body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
  }

  /* .hamburger {
    position: fixed;
    z-index: 9999;
    padding: 15px;
  }
  .hamburger:hover {
    cursor: pointer;
  }
  .hamburger div {
    background-color: white;
    border-radius: 1px;
    height: 6px;
    width: 30px;
  }
  .hamburger div:not(:last-child) {
    margin-bottom: 5px;
  }

  nav {
    background-color: #3b3f52;
    display: inline-block;
    position: fixed;
    height: 100vh;
    width: 225px;
    left: -225px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  nav .logo {
    margin: 12vh 0;
    text-align: center;
  }
  nav .logo img {
    border-radius: 50%;
    border: 1px solid grey;
  }
  nav .logo img:hover {
    transition: -webkit-transform 0.3s;
    transform: scale(1.2) rotate(5deg);
  }

  nav a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 5px 0;
  }
  nav a:hover {
    background-color: #f5f5f5;
  }
  nav a:visited {
    color: black;
  }
  nav a.active {
    background-color: black;
    color: white;
  }
  nav footer {
    width: 225px;
    text-align: center;
    position: absolute;
    padding: 5px;
    bottom: 0;
    color: #959595;
  }
  nav footer p {
    font-size: 0.85em;
  }

  .sidenav-active .cover {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 5000;
    -webkit-transition: background-color .3s, -webkit-transform 0.3s;
    transition: background-color .3s, -webkit-transform 0.3s;
    transition: background-color .3s, transform 0.3s;
    transition: background-color .3s, transform 0.3s, -webkit-transform 0.3s;
  }

  nav, .main, .hamburger, .cover {
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .sidenav-active nav, .sidenav-active .main, .sidenav-active .hamburger, .sidenav-active .cover {
    -webkit-transform: translateX(225px);
            transform: translateX(225px);
  } */

  /* ================================================================
                          CONTENT
    ================================================================= */

  .container {
    overflow: hidden;
    width:100%;
    margin:0px;
  }

  .zone {
    color: white;
    height: 100vh;
    line-height: 100vh;
    text-align: center;
  }
  .zone h1 {
    font-size: 1.75em;
  }
  .zone h1, .zone p {
    margin: 0;
  }

  section:nth-child(1) {
    background-color: #7CB342;
  }
  section:nth-child(2) {
    background-color: #E53935;
  }
  section:nth-child(3) {
    background-color: #FBC02D;
  }

  .main {
    -webkit-box-shadow: -4px 0 8px rgba(100, 100, 100, 0.5);
            box-shadow: -4px 0 8px rgba(100, 100, 100, 0.5);
  }

  /* .aboutBox {
    margin: 0 auto;
    line-height: normal;
    text-align: justify;
    background: grey;
    opacity: 0.8;
    width: 25em;
    height: 25em;
  } */


input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Vertical resize the textarea */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #148ca3;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, turn white */
input[type=submit]:hover {
    background-color: #fff;
    color: #148ca3;
}

/* ================================================================
                        Arrow Zone
 =================================================================*/


/* ====================================== */
 .one {
  background: url("../img/code.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

 .two {
   background: url("../img/coffeeCream.jpg") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }

 .three {
   background: url("../img/fujiMushroom.jpg") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }
